<html>
<head>
  <title>JStudios</title>
</head>
<body>
<div class = 'title'>
  <h1><u><%=h1=t('home.title') %></u></h1>
  <h2 class="font-weight-light"><%=h2=t('home.description') %></h2>
  <img src="/music studio.jpg" class="frontImage">
</div>
</body>
</html>
