<html>
<head>
  <title>JStudios</title>
</head>
<body>
<div class = 'title'>
  <h1><u>JStudios</u></h1>
  <h2 class="font-weight-light">Welcome to our music studios! To get started and to book a session, please sign in</h2>
  <img src="/music studio.jpg" class="frontImage">
</div>
</body>
</html>
