<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Contact Us</h1>
    <p class="lead">If you've had an issue with your booking, please email us using the form below.</p>
  </div>
</div>
<%= render 'form' %>
