<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><%=t('contact.title') %></h1>
    <p class="lead"><%=t('contact.description') %></p>
  </div>
</div>
<%= render 'form' %>
