<p id="notice"><%= notice %></p>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Our Studios</h1>
    <p class="lead">Here you can browse the studios we offer, and discover more about us!</p>
  </div>
</div>
<table width="100%">
  <tr>
    <td width="25%">
      <img src = '/djbooth1.jpg' class = 'studio1'>
      <p class="studio1Text">Studio 1: Our state of the art DJ Studio<br><ul style='font-size:15px'><li>2x CDJ2000 Nexus</li>
      <li>DJM900 Nexus Mixer</li><li>High Definition Speakers</li><li>£15 p/h</li></ul>
      <button type="button" class="btn btn-info">Book Now!</button>
    </td>
    <td width="25%">
      <img src = '/bandstudio.jpg' class = 'studio2'>
      <p class="studio1Text">Studio 2: Our band recording studio<br><ul style='font-size:15px'><li>Drum Kit included</li><li>Professional Microphone Setup</li>
      <li>£20 p/h</li></ul>
      <button type="button" class="btn btn-info">Book Now!</button></p>
    </td>
    <td width="25%">
      <img src = '/studio3.jpg' class = 'studio2'>
      <p class="studio1Text">Studio 3: Our state of the art production studio<ul style='font-size:15px'>
      <li>Professional recording equipment</li><li>Mixing Desk</li><li>High Definition Speakers</li><li>£45 p/h</li></ul>
      <button type="button" class="btn btn-info">Book Now!</button></p>
    </td>
  </tr>
</table>

