<% if !current_user.is_admin %>
  <script type="text/javascript">
      window.location.href="/index"
  </script>
<% end %>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><%=h1 = t('room.new_room') %></h1>
  </div>
</div>

<%= render 'form', room: @room %>

<%= link_to 'Back', rooms_path %>
