<% if !current_user.is_admin %>
  <script type="text/javascript">
      window.location.href="/index"
  </script>
<% end %>
<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
