// Place all the styles related to the Bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bookingTitle{
  text-align: center;
  font-size: 75px;
}

.newBooking{
  font-size: 30px;
  right: 10%;
}
p{
  font-size: 25px;
}
.showInfo{
  font-size: 25px;
}