// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title{
  text-align: center;
}
.title h1{
  font-size: 100px;
}
.title h2{
  font-size: 30px;
}

.frontImage{
  border: 2px solid;
  padding: 5px;
  height: 50%;
  width: 50%;
}
